# Data types
## Numbers

In [1]:
1

1

In [2]:
1.0 #floating point number

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2 #Returns a floating point number

0.5

In [6]:
2 ** 4

16

In [7]:
2 + 3 * 5 + 5 #Order of operations with do the multiplication first

22

In [8]:
(2 + 3) * (5 + 5)

50

In [9]:
4 % 2 #Modulo function - returns the remainder - Even numbers return 0

0

In [10]:
5 % 2

1

## Variable Assignment

In [11]:
var = 2

In [12]:
var

2

In [13]:
x = 2 
y = 3

In [14]:
x = x + x

In [15]:
x

4

In [16]:
name_of_var = 12 #Use underscores

## Strings

In [18]:
' Single qoutes '

' Single qoutes '

In [19]:
"Or double quotes"

'Or double quotes'

In [20]:
"I can't and don't and won't, thats why I use double quotes"

"I can't and don't and won't, thats why I use double quotes"

In [21]:
x = 'Hello'

In [22]:
x

'Hello'

In [23]:
print(x)

Hello

In [24]:
num = 12 
name = 'Sam'

In [30]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [31]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num, two=name))

My number is 12 and my name is Sam, more 12

In [33]:
# Indexing Strings
s = 'hello'

In [39]:
s[0]

'h'

In [38]:
s[4]

'o'

In [40]:
s[0:3] # Slice notation - give me everything up to but not including position 3

'hel'

In [41]:
s[0::3] # Slice notation - give me everything before the colon : nothing between : and everything after at position 3

'hl'

## Lists

In [42]:
[1, 2, 3]

[1, 2, 3]

In [43]:
my_list= ['a','b','c']

In [44]:
my_list.append('d')

In [45]:
my_list

['a', 'b', 'c', 'd']

In [46]:
my_list[0]

'a'

In [47]:
my_list[1:3]

['b', 'c']

In [48]:
my_list[0] = 'New'
my_list

['New', 'b', 'c', 'd']

In [49]:
nest = [1,2,[3,4]]

In [52]:
nest[2][1] # Position 2 is the second list, the second [1] gives us position 1 inside of the nested list

4

In [53]:
nest = [1,2,3,[4,5,['target']]]

In [54]:
nest[3][2][0]

'target'

## Dictionary

In [55]:
d = {'key1': 'value', 'key2': 123}

In [56]:
d['key1']

'value'

In [57]:
d = {'k1':[1,2,3]}

In [58]:
d['k1'][1] #Grab the key first, then use bracket notation to grab what you want from the list

2

In [59]:
my_dict = d['k1'] # In two steps, we can store the list at key 'k1' as a variable

In [60]:
my_dict[1] # Then use bracket notation to grab whatever we want off of that list

2

In [61]:
d2 = {'k2':{'innerkey':[1,2,3]}}

In [62]:
d2['k2']['innerkey'][1]

2

## Tuples

In [63]:
my_list = [1,2,3] # This is a list with []

In [64]:
tuple = (1,2,3) # This is a tuple with ()

In [65]:
my_list[0] = 'NEW'
my_list

['NEW', 2, 3]

In [66]:
# Tuples are immutable, you can change the items inside of them

## Set

In [67]:
{1,2,3}

{1, 2, 3}

In [68]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [69]:
set([1,1,1,2,2,2,6,6,6,9]) # We can actually pass a list to set and return only the unique values

{1, 2, 6, 9}

In [70]:
s = {1,2,3}

In [71]:
s.add(5)

In [72]:
s

{1, 2, 3, 5}

## Comparison Operators

In [73]:
1 > 2

False

In [74]:
1 < 2

True

In [75]:
1 == 1

True

In [76]:
1 != 3

True

In [78]:
(1 < 2 and 2 < 3)

True

In [79]:
(1 < 2 or 2 > 3)

True

## if / elif / else

In [80]:
if 1<2:
    
    print('yep!')

yep!

In [82]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Middle

## For Loops

In [83]:
seq = [1,2,3,4,5,6,7,8,9]

In [85]:
for item in seq:
    print(item) # 'item' is just a temporary variable name, you can name it anything

1
2
3
4
5
6
7
8
9

## While Loops

In [89]:
i = 1

while i <= 5:
    i += 1
    print('i is: {}'.format(i))

i is: 2
i is: 3
i is: 4
i is: 5
i is: 6

## Range

In [91]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [92]:
list(range(5))

[0, 1, 2, 3, 4]

## List Comprehension

In [93]:
x = [1,2,3,4]

In [95]:
out = []

for num in x:
    out.append(num**2)

In [96]:
print(out)

[1, 4, 9, 16]

In [99]:
out = [num**2 for num in x] # Instead of building an empty list and then writing a for loop, this is the shorthand

In [100]:
out

[1, 4, 9, 16]

## Functions

In [101]:
def my_function(params):
    print(params)

In [102]:
my_function('This is the parameter to be printed')

This is the parameter to be printed

In [105]:
def hello_function(name):
    print('Hello ' + name)

In [106]:
hello_function('Mike')

Hello Mike

In [113]:
def square(num):
    """
   tHIS 
   FUNCTION 
   RETURNS 
   A SQUARE
    """
    return num**2

In [110]:
output = square(2) # When you return something, you'll want to set it = to a variable so you have a way to call or use the results

In [109]:
output

4

In [114]:
square # In the video we pressed 'SHIFT + TAB' to read about the function

## Map and Filter

In [116]:
def times2(variable):
    return variable * 2

In [115]:
sequence = [1,2,3,4,5]

In [117]:
list(map(times2, sequence))

[2, 4, 6, 8, 10]

## Lambda Expressions (anonymous function)

In [120]:
l = lambda var: var * 2 # lambda + temp variable name 'var' colon + what we want returned var*2 - A single line of code

In [119]:
list(map(lambda num: num*3, sequence))

[3, 6, 9, 12, 15]

## Filter

In [122]:
list(filter(lambda num: num%2 == 0, sequence)) # Only returns values where the statement was true

[2, 4]

## Methods

In [123]:
s = 'Hello my name is Tula'

In [124]:
s.lower() # type s. then hit tab for a list of methods on that data type

'hello my name is tula'

In [125]:
s.split()

['Hello', 'my', 'name', 'is', 'Tula']

In [126]:
tweet = "Go Sports! #sports"

In [130]:
tweet.split('#')[1] # splits where it finds a hashtag, then is placed in a list at position 1

'sports'

In [131]:
dict2 = {'k1': 1, 'k2': 2}

In [132]:
dict2

{'k1': 1, 'k2': 2}

In [134]:
dict2.keys()

dict_keys(['k1', 'k2'])

In [135]:
dict2.items()

dict_items([('k1', 1), ('k2', 2)])

In [136]:
dict2.values()

dict_values([1, 2])

In [142]:
lst = [1,2,3,4]

In [143]:
lst.pop(0)

1

In [144]:
lst

[2, 3, 4]

In [145]:
lst.append('new item')

In [146]:
lst

[2, 3, 4, 'new item']

In [147]:
'x' in lst

False

In [148]:
'x' in ['x', 'y', 'z']

True

## Tuple Unpacking

In [149]:
x = [(1,2), (3,4), (5,6)]

In [150]:
x[0][1]

2

In [151]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [152]:
for (a,b) in x: # Unpack a tuple within a for loop
    print(b)

2
4
6